<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>#{secretfilenumber}</title>

</head>

<body>
  <script src="js/scripts.js"></script>
  <p>#{bodytitle}</p>
  <p>#{bodytext}</p>
  <p>#{alias}</p>
  <p>#{date}</p>
</body>
</html>
